.form-class{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.register-wrapper{
    display: flex;
    height: 29vh;
    width:25vw;
}

.password-icon-register{
    display: flex;
    transform: translateY(-120%) translateX(840%);
    width: 10%;
    position: relative;
}