
/*////////////////////////
    1. Header
////////////////////////*/
.header-class-game-info {
    display: flex;
    flex-basis: 100%;
    height: 35vh;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

/*////////////////////////
    2. child elements / mid section
////////////////////////*/

.mid-section-wrapper{
    display: flex;
    flex-direction: row;
}

.game-info-details {
    display: flex;
    height: 55vh;
    flex-basis: 85vw;
    overflow: auto;
}

/*////////////////////////
    3. side element
////////////////////////*/
.tag-wrapper{
    display: flex;
    flex-direction: column;
    flex-basis: 15vw;
    overflow: auto;
    height: 55vh;
}

.line-spacing{
    margin: 0 0 10px 0;
}

/*////////////////////////
    3. footer elements
////////////////////////*/
.footer-game-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-game-page {
    display: flex;
    justify-content: center;
    flex-basis: 300px;
}

.button-styling{
    display: flex;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 12px;
    height: 40px;
}

.rawg-pic{
    display: flex;
    margin: 0 0 0 5px;
    height: 100%;
    max-height: 40px;
}