


/*////////////////////////
    1.  Parent element
////////////////////////*/

.edit-wrapper {
    display: flex;
    flex-direction: column;
}


/*////////////////////////
    1.  Child element seperator
////////////////////////*/

.form-profile{
    margin: 1px;
    padding: 0 4px;
}