.edit-wrapper {
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    width: 20vw;
    justify-content: space-around;
    border: 1px solid black;
}

.form-profile{
    margin: 1px;
    padding: 0 4px;
}