.searchbar-container{
    display: flex;
    justify-content: space-between;
    width: 35vw;
    align-items: center;
}

.searchbar-style {
    padding: 10px;
    border: 1px solid black;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.button-style {
    padding: 10px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}




