/*////////////////////////
    1. parent element
////////////////////////*/
.page-wrapper {
    display: flex;
    flex-basis: 85vw;
    align-items: center;
}

/*////////////////////////
    2. child element
////////////////////////*/

.button-wishlist-specific{
    display: flex;
    height: 30px;
    min-width: 40px;
    padding: 2px 0;
    justify-content: center;
}



