.page-wrapper {
    display: flex;
    width: 85vw;
    align-items: center;
}

.button-wishlist-specific{
    display: flex;
    height: 30px;
    min-width: 40px;
    padding: 2px 0;
    justify-content: center;
}



