/*////////////////////////
    1. parent element
////////////////////////*/

.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 85vw;
    min-width: 600px;
    align-items: center;

}

.parent-container-form-wishlist{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 100%;
    margin: 0 5px 0 5px;
    text-overflow:ellipsis;
    word-wrap: break-word;
}

.form-container{
    display: flex;
}

/*////////////////////////
    1. child element
////////////////////////*/

.form-class-wishlist{
    display: flex;
    flex-direction: column;
    align-content: center;

}

.button-wishlist-overview{
    display: flex;
    justify-content: center;
    width: 50px;
}


/*////////////////////////
    3. helper element
////////////////////////*/

.overflow-class {
    overflow: auto;
    flex-basis: 69vh;
}