
/*////////////////////////
    1. Header/mid  element
////////////////////////*/
.section-container-homepage{
    display: flex;
    width: 85vw;
    height:68vh;
}

.img-searchbar-container-homepage {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    align-items: center;

}

/*////////////////////////
    2. footer element
////////////////////////*/

.footer-container-homepage{
    display: flex;
    height: 32vh;
    max-width: calc(100% - 12vw);
    justify-content: center;
}

.form-homepage{
    margin: 0 0 5px;
    padding: 0 0 0 5px;
    border-radius: 12px;
}
