
/*////////////////////////
    1. parent element
////////////////////////*/
.page-wrapper-search-result {
    display: flex;
    flex-direction: column;
    flex-basis: 85vw;
    overflow: auto;
}
/*////////////////////////
    2. child element
////////////////////////*/
.list-wrapper-search-result{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20vh;
    max-width: calc(100vw - 20vw);
}

.list-items-search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25vw;
    height: 20vh;
    margin: 10px 10px;
    border-radius: 12%;
}


/*////////////////////////
    3. Loading element
////////////////////////*/
.loader-search-result{
    transform: translateY(-30%) translateX(0%);
}