.page-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.list-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20vh;
    max-width: calc(100vw - 20vw);

}

.list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 20vh;
    margin: 10px 10px;
    border-radius: 25%;
    background: rgb(164, 160, 157);
    background: linear-gradient(90deg, rgba(164, 160, 157, 1) 30%, rgba(80, 78, 78, 1) 98%);
    border: 5px outset black;
}

.result-class {
    height: 70vh;
}