.page-wrapper-search-result {
    display: flex;
    flex-direction: column;
    width: 85vw;
    overflow: auto;
}

.list-wrapper-search-result{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20vh;
    max-width: calc(100vw - 20vw);
}

.list-items-search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 20vh;
    margin: 10px 10px;
    border-radius: 25%;
    border: 5px outset black;

}