
/*////////////////////////
    1. Parent
////////////////////////*/

.nav-class {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
}


/*////////////////////////
    2. list
////////////////////////*/

.list-class{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 2px 5px 0;
    border-radius: 25%;
    justify-content: space-evenly;
    height: 15vh;
    border: 3px outset black;
}

/*////////////////////////
    3. Button nav element
////////////////////////*/

.nav-button {
    display: flex;
    justify-content: space-around;
    height:15vh;
    border-radius: 25%;
    margin: 5px 5px 0;
    border: 3px outset black;
    cursor: pointer;
}





